::selection{background:#272262; color:#fff; text-shadow:none;}
::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-button:start:decrement,	::-webkit-scrollbar-button:end:increment  { display:none; }
::-webkit-scrollbar-track-piece  {background-color:#ecedf1; -webkit-border-radius:0px; border-left:1px solid #888;}			
::-webkit-scrollbar-thumb:vertical {-webkit-border-radius:0px;	background:#000; }

#customize-controls { background: #222222; }
#customize-controls #customize-info { margin:0; }

#customize-controls #customize-theme-controls > ul > li:hover > h3 { border-left-color: #000; background:#383838; }
#customize-controls #customize-theme-controls > ul > li > h3 { padding:20px 10px; color:rgb(255 255 255 / 80%); text-transform: uppercase; font-weight: 400; background: #464646; border-bottom: 1px solid #747474; }
#customize-controls #customize-theme-controls .description { padding: 10px; color:#fff; background:linear-gradient(3deg, #60856d 19.936305732484076%, #2e5a3d 100%); }
#customize-controls #customize-theme-controls #accordion-section-themes h3 { color:#fff; border:0; margin:0; background:linear-gradient(3deg, #60856d 19.936305732484076%, #2e5a3d 100%); }
#customize-controls #customize-theme-controls #accordion-section-themes h3 { pointer-events: none; }

#customize-controls #customize-theme-controls li a,
#customize-controls #customize-theme-controls li, #customize-controls #customize-theme-controls .description { color:#fff; }
#customize-controls #customize-theme-controls li .customize-section-back { color:#000 !important; }

#customize-theme-controls ul.accordion-section li { border-top: 1px solid #ffffff6e; margin: 0; padding: 10px 0; }
#customize-theme-controls #sub-accordion-panel-nav_menus li,
#customize-theme-controls ul.accordion-section li:first-child + li { border: 0; padding-top: 0; }

#customize-controls #customize-control-background_position, 
#customize-controls #accordion-panel-widgets, #customize-controls .customize-control-nav_menu_auto_add,
#customize-controls #accordion-section-excerpt_settings,
#customize-controls #customize-theme-controls #accordion-section-themes h3 .change-theme,
#customize-controls .wp-full-overlay-sidebar-content > .customize-info { display:none !important; }

#customize-control-font_w span.customize-inside-control-row { letter-spacing: -1px; display: inline-block; padding: 8px 10px 8px 0; text-transform: uppercase; font-weight: 600; }

#customize-controls .customize-section-title { margin-top:-22px; background: #60856d; }
#customize-controls .customize-section-title h3 { color: #fff; }
#customize-controls .control-section-nav_menu .menu-location-settings { border:0 !important; }

#customize-controls #sub-accordion-panel-general_settings > li.control-section,
#customize-controls #sub-accordion-panel-footer_set > li.control-section { border: 0; padding: 0; }

#customize-controls #customize-theme-controls input[type=text], #customize-controls #customize-theme-controls input[type=number],
#customize-controls #customize-theme-controls select { padding:5px 15px; color: #d3d3d3; border-radius:3px; background-color: #666666; border-color: transparent; font-size: 12px; }
#customize-controls #customize-theme-controls select { text-transform: uppercase; }

#customize-controls #customize-control-copyright_show span.customize-inside-control-row,
#customize-controls #customize-control-footer_col_4 span.customize-inside-control-row,
#customize-controls #customize-control-footer_col_3 span.customize-inside-control-row,
#customize-controls #customize-control-footer_col_2 span.customize-inside-control-row,
#customize-controls #customize-control-footer_col_1 span.customize-inside-control-row,
#customize-controls #customize-control-tbar_alignmen span.customize-inside-control-row { display: inline-block; color: #000; background-image: -webkit-linear-gradient(top, #f8f8f8, #f5f5f5); border: 1px solid #ccc; padding:5px 12px 5px 35px; border-radius: 3px; margin:10px 0; text-transform: uppercase; font-weight: 500; font-size: 11px; }

#customize-controls #customize-control-footer_col_4 span.customize-inside-control-row,
#customize-controls #customize-control-footer_col_3 span.customize-inside-control-row,
#customize-controls #customize-control-footer_col_2 span.customize-inside-control-row,
#customize-controls #customize-control-footer_col_1 span.customize-inside-control-row { width: 100%; box-sizing: border-box; margin:5px 0 0; }


/*all in one option remove*/
#toplevel_page_ai1wm_export ul.wp-submenu.wp-submenu-wrap li:nth-child(3) {display: none;}
#toplevel_page_ai1wm_export ul.wp-submenu.wp-submenu-wrap li:nth-child(4) {display: none;}
#toplevel_page_ai1wm_export ul.wp-submenu.wp-submenu-wrap li:nth-child(5) {display: none;}
#toplevel_page_ai1wm_export ul.wp-submenu.wp-submenu-wrap li:nth-child(6) {display: none;}
#toplevel_page_ai1wm_export ul.wp-submenu.wp-submenu-wrap li:nth-child(7) {display: none;}
.ai1wm-right {display: none;}
ul.ai1wm-dropdown-menu.ai1wm-import-providers li:nth-child(1) {display: block;}
ul.ai1wm-dropdown-menu.ai1wm-import-providers li {display: none;}
.ai1wm-button-group.ai1wm-button-import.ai1wm-open>.ai1wm-dropdown-menu {height: auto}
