<!-- wp:template-part {"slug":"header","theme":"dv-themes-child"} /-->

<!-- wp:group {"tagName":"main","className":"dv_single_simple","style":{"spacing":{"padding":{"bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group dv_single_simple" style="padding-bottom:0"><!-- wp:pattern {"slug":"twentytwentyfive/more-posts"} /-->

<!-- wp:post-content {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"0"}}},"layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"dv-themes-child"} /-->