<!-- wp:template-part {"slug":"header","theme":"dv-themes-child"} /-->

<!-- wp:group {"tagName":"main","className":"dv_blog_noside","layout":{"type":"constrained"}} -->
<main class="wp-block-group dv_blog_noside"><!-- wp:group {"align":"full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:pattern {"slug":"twentytwentyfive/hidden-written-by"} /-->

<!-- wp:getwid/section {"align":"wide","skipLayout":true,"contentMaxWidthPreset":"full","backgroundColor":"contrast","paddingTopValue":"150px","paddingTop":"custom","paddingLeft":"large","paddingRight":"large","paddingTopTablet":"large","className":"alignfull"} -->
<div class="wp-block-getwid-section alignfull alignwide getwid-section-content-full-width"><div class="wp-block-getwid-section__wrapper getwid-padding-left-large getwid-padding-right-large getwid-padding-tablet-top-large" style="padding-top:150px"><div class="wp-block-getwid-section__inner-wrapper"><div class="wp-block-getwid-section__background-holder"><div class="wp-block-getwid-section__background has-background has-contrast-background-color"></div><div class="wp-block-getwid-section__foreground"></div></div><div class="wp-block-getwid-section__content"><div class="wp-block-getwid-section__inner-content"><!-- wp:group {"layout":{"type":"constrained","contentSize":"1000px"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"spacing":{"padding":{"bottom":"0"}}},"textColor":"base"} /-->

<!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"600"},"spacing":{"padding":{"bottom":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|40"}}},"textColor":"base","fontSize":"small"} /-->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"-100px"}}}} /--></div>
<!-- /wp:group --></div></div></div></div></div>
<!-- /wp:getwid/section -->

<!-- wp:spacer {"height":"80px"} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained","contentSize":"1000px"}} -->
<div class="wp-block-group alignwide"><!-- wp:post-content {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"default"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"twentytwentyfive/more-posts"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"dv-themes-child"} /-->